

{% for post in site.posts %}
<!--<div class="col s12">
  <div class="card hoverable">
    <div class="card-content">
      <span id="post-title" class="card-title">{{post.title}}</span>
      <p id="post-date">
        <i class="material-icons">date_range</i>
        {{post.date | date: "%d/%m/%Y %H:%M"}}
      </p>
      <p id="post-content">{{post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
    </div>
    <div class="card-action">
      <a href="{{post.url}}">
        Read More
      </a>
    </div>
  </div>
</div>
-->


<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{post.title}}">
      <a class="card-title center-align valign-wrapper" href="{{post.url}}" target="_blank">{{post.title}}</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1"></span>
    </div>
  </div>

</div>

{% endfor %}